*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2)), url('images/car1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    background-position: center;
    position: relative;
    animation: change 25s infinite ease;
}
@keyframes change{
    0%{
        background-image: url(images/car1.jpg);
    }
    
    10%{
        background-image: url(images/car2.jpg);
    }
    20%{
        background-image: url(images/car3.jpg);
    }
    30%{
        background-image: url(images/car4.jpg);
    }
    40%{
        background-image: url(images/car5.jpg);
    }
    50%{
        background-image: url(images/car6.jpg);
    }
    60%{
        background-image: url(images/car7.jpg);
    }
    70%{
        background-image: url(images/car8.jpg);
    }
    80%{
        background-image: url(images/car9.jpg);
    }
    90%{
        background-image: url(images/car10.jpg);
    }
    100%{
        background-image: url(images/car1.jpg);
    }
}
.form-box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background:none;
    background-color: rgb(255, 255, 255, 0.13);
    backdrop-filter: blur(11px);
    padding: 50px 60px 70px;
    border-radius: 15px;
}
.form-box h1{
    font-size: 30px;
    color: #3c00a0;
    margin-bottom: 60px;
}
.form-box h1::after{
    content:'';
    width: 300px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: 520px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 2s;
    overflow: hidden;
}
.input-field .sele{
    width: 100%;
    margin: 0;
    color: #3c00a0;
    border: 0;
    padding: 20px 15px;
    background:none;
}
.input-field .sele option{
    color: #3c00a0;
}
input{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    background: transparent;
    color: #3c00a0;
}
.input-field i{
    margin-left: 15px;
    color: #3c00a0;
}
form p{
    text-align: left;
    font-size: 15px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 2s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #3c00a0;
}